.player-score {
  box-sizing: border-box;
  height: 20px;
  width: 50px;
  background-color: var(--floral-white);
  border: 2px solid var(--fiery-rose);
  padding: 1px;
  display: flex;
  gap: 1px;
}

.player-score > .point {
  background-color: var(--old-silver);
  height: auto;
  width: 33%;
}

.player-score[data-points="1"] > .point:first-child {
  background-color: var(--mantis);
}

.player-score[data-points="2"] {
  flex-direction: row-reverse;
}

.player-score[data-points="2"] > .point:nth-child(n+2) {
  background-color: var(--mantis);
}

.player-score[data-points="3"] > .point:nth-child(n+3) {
  background-color: var(--mantis);
}
